.contact-inp {
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  border: 1px solid gray;
}

.contact-sub {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.contact-text {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.contact-btn {
  background-color: #FDD700;
  width: 152px;
  height: 44px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
}