.h5 {
  font-size: 25px;
  border-bottom: 2px solid #059473;
}

.ul-btn {
  list-style: none;
  display: flex;
  li {
    margin-right: 5px;
    button {
      border: none;
      background: none;
      font-weight: bold;
    }
    button:hover {
      color: #059473;
      border-bottom: 2px solid #059473;
    }
  }
}

.link {
  list-style: none;
  border: none;
  background: none;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.link:hover {
  color: #059473;
  border-bottom: 2px solid #059473;
}