.hed-inp {
  width: 450px !important;
  border: none;
}

.hed-btn {
  color: #000;
  border-radius: 2px;
  background: #FDD700;
  border: 2px solid #FDD700;
  padding: 5px 15px;
}

.log-btn {
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 15px;
  color: #000;
  list-style: none;
  font-size: 20px;
}

.log-btn:hover {
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 15px;
  color: #FDD700;
  list-style: none;
}

.cart-btn {
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 15px;
  color: #000;
  list-style: none;
}

.cart-btn:hover {
  text-decoration: none;
  background: white;
  padding: 7px 15px;
  border-radius: 15px;
  color: #FDD700;
  list-style: none;
}

.sec1-one {
  background-image: url(../img/top-banner-01.webp);
  background-size: cover;
  width: 297px;
  height: 250px;
  padding: 20px;
}

.sec1-two {
  background-image: url(../img/top-bannre-02.webp);
  background-size: cover;
  width: 297px;
  height: 250px;
  padding: 20px;
}

.car {
  width: 100%;
  height: 525px;
}

.sec1btn {
  background: #FDD700;
  padding: 8px 20px;
  border-radius: 2px;
  color: #000;
  border: none;
}

.sec1btn:hover {
  background: #000;
  padding: 8px 20px;
  border-radius: 2px;
  color: #fff;
  border: none;
  transition: 1.2ms;
}

.sec2btn {
  background: #FDD700;
  padding: 8px 20px;
  border-radius: 2px;
  color: #000;
  border: none;
}

.sec2btn:hover {
  background: #fff;
  padding: 8px 20px;
  border-radius: 2px;
  color: #000;
  border: none;
  transition: 1.2ms;
}

ul {
  padding: 0;
  margin: 0;
}

.sec2-main {
  margin-top: 50px;
}

.sec2-div {
  padding: 0;
  margin: 0;
}

.h5 {
  font-size: 25px;
  border-bottom: 2px solid #059473;
}

.ul-btn {
  list-style: none;
  display: flex;
}
.ul-btn li {
  margin-right: 5px;
}
.ul-btn li button {
  border: none;
  background: none;
  font-weight: bold;
}
.ul-btn li button:hover {
  color: #059473;
  border-bottom: 2px solid #059473;
}

.link {
  list-style: none;
  border: none;
  background: none;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.link:hover {
  color: #059473;
  border-bottom: 2px solid #059473;
}

.single {
  margin-bottom: 250px;
}

.card1 {
  position: relative;
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card1 img {
  position: absolute;
  left: 0;
  transition: opacity 1s ease-in-out;
}

.card1 img.sfront:hover {
  opacity: 0;
  cursor: pointer;
}

.c1-text {
  position: relative;
  top: 300px;
}

.c1-btn {
  border: none;
  padding: 4px 10px;
}

.c1-btn:hover {
  border: none;
  padding: 4px 10px;
  background-color: #FDD700;
  transition: 1s;
}

.sec5-one {
  background-image: url("../img/subbanner1.jpg");
  width: 440px;
  height: 250px;
}
.sec5-one button {
  background-color: black;
  padding: 5px 15px;
  color: #fff;
  border: none;
}
.sec5-one button:hover {
  background-color: white;
  padding: 5px 15px;
  color: #000;
  border: none;
  transition: 1s;
}

.sec5-two {
  background-image: url("../img/subbanner2.jpg");
  width: 440px;
  height: 250px;
}
.sec5-two button {
  background-color: #FDD700;
  padding: 5px 15px;
  color: #000;
  border: none;
}
.sec5-two button:hover {
  background-color: #fff;
  padding: 5px 15px;
  color: #000;
  border: none;
  transition: 1s;
}

.sec5-three {
  background-image: url("../img/subbanner3.jpg");
  width: 440px;
  height: 250px;
}
.sec5-three button {
  background-color: #fff;
  padding: 5px 15px;
  color: #000;
  border: none;
}
.sec5-three button:hover {
  background-color: #000;
  padding: 5px 15px;
  color: #fff;
  border: none;
  transition: 1s;
}

.sec6-btn {
  border: none;
  padding: 4px 10px;
}

.sec6-btn:hover {
  border: none;
  padding: 4px 10px;
  background-color: #FDD700;
  transition: 1s;
}

.sec7-one {
  background-image: url("../img/bottombanner1.webp");
  width: 650px;
  padding: 30px;
  margin-right: 20px;
}
.sec7-one button {
  background-color: #FDD700;
  padding: 5px 15px;
  color: #000;
  border: none;
}
.sec7-one button:hover {
  background-color: white;
  padding: 5px 15px;
  color: #000;
  border: none;
  transition: 1s;
}

.sec7-two {
  background-image: url("../img/bottombanner2.webp");
  width: 650px;
  padding: 30px;
}
.sec7-two button {
  background-color: #fff;
  padding: 5px 15px;
  color: #000;
  border: none;
}
.sec7-two button:hover {
  background-color: #000;
  padding: 5px 15px;
  color: #fff;
  border: none;
  transition: 1s;
}

.card1 {
  position: relative;
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card1 img {
  position: absolute;
  left: 0;
  width: 200px;
  transition: opacity 1s ease-in-out;
}

.card1 img.sfront:hover {
  opacity: 0;
  cursor: pointer;
}

.c1-text {
  position: relative;
  top: 300px;
}

.c1-btn {
  border: none;
  padding: 4px 10px;
}

.c1-btn:hover {
  border: none;
  padding: 4px 10px;
  background-color: #FDD700;
  transition: 1s;
}

.bgsec {
  background-color: #FDD700;
}
.bgsec .input {
  width: 450px;
  padding: 8px 30px;
  border: none;
}
.bgsec .button {
  width: 120px;
  padding: 8px 20px;
  border: none;
  background-color: #333333;
  color: #fff;
  font-weight: bold;
}

.fp {
  font-weight: bold;
}

.fp:hover {
  color: #049372;
}

.fp {
  font-weight: bold;
}

.fp:hover {
  color: #FDD700;
  transition: 1.1ms;
}

.icon {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.contact-inp {
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  border: 1px solid gray;
}

.contact-sub {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.contact-text {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.contact-btn {
  background-color: #FDD700;
  width: 152px;
  height: 44px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
}

.formstyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

input {
  border: none;
  border-bottom: 2px solid gray;
}

.inpass {
  width: 309px;
}

.logbtn {
  background-color: #FDD700;
  width: 152px;
  height: 44px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
}

.iconf {
  width: 30px;
  height: 30px;
  background-color: #3F5A99;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.iconf a {
  color: #fff;
}

.icont {
  width: 30px;
  height: 30px;
  background-color: #4B9FED;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.icont a {
  color: #fff;
}

.icong {
  width: 30px;
  height: 30px;
  background-color: #D95242;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.icong a {
  color: #fff;
}

.login-inp {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.inplog {
  width: 400px;
}

.about-btn {
  text-decoration: none;
  background: #FDD700;
  border: 2px solid #FDD700;
  padding: 8px 30px;
  border-radius: 15px;
  color: #000;
  list-style: none;
}/*# sourceMappingURL=style.css.map */